<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function pro(no) {
            re = confirm("정말로 삭제하시겠습니까?");
            if(re == true) {
                location.href = "/goodsDelete/" + no;
            }
        }
    </script>
</head>
<body>
    <h2>상품상세</h2>
    <table>
        <tr>
            <td>
                <img src="../static/img/{{doc['fname']}}" width="100" height="100">
            </td>
            <td>
                상품번호 : {{doc['no']}}<br>
                상품명 : {{doc['item']}}<br>
                수량 : {{doc['qty']}}<br>
                가격 : {{doc['price']}}<br>
            </td>
        </tr>
    </table>
    <textarea rows="5" cols="80" readonly>{{doc['detail']}}</textarea>
    <a href="/goodsUpdate/{{doc['no']}}">수정</a>
    <a href="#" onclick="pro({{doc['no']}})">삭제</a>
</body>
</html>