<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stock">
	<select id="selectStock" resultType="stockVo">
		select * from stock order by stock_no desc
	</select>
	<select id="detailStock" resultType="stockVo">
		select * from stock where stock_no = #{stock_no}
	</select>
</mapper>